

$primary-color: #5B0888;
$secondary-color: #713ABE;
$tertiary-color: #9D76C1;
$quaternary-color: #E5CFF7;
$font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    
  }
  header{
    
    width: 100%;
    height: auto;
    padding: 1px;
    background-color: $secondary-color;
    h1{
      width: 320px;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
      color: $quaternary-color;
      background-color: $tertiary-color;
      border-radius: 0px 0px 10px 10px;
      
    }
    nav{
      display: flex;
      justify-content: space-between;
      margin: 10px;
      a{
        background-color: $tertiary-color;
        padding: 10px;
        
        border-radius: 10px;
        text-decoration: none;
        color: $quaternary-color;
      }
    }

}


main{
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $primary-color; 
  color: $quaternary-color;
  article{
    
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: $tertiary-color;
    border-radius: 10px;
    margin: 10px;
    h2{
      text-align: center;
      margin-bottom: 10px;
    }
    p{
      text-align: justify;
    }
  }
}