body {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #a888ff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #fff;
    font-size: 3em;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #8866ff;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #5533ff;
  }
  
  main {
    padding: 20px;
  }
  
  .proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .proyectos h2 {
    margin-bottom: 10px;
  }
  
  .proyectos article {
    width: 25%;
    margin-bottom: 20px;
  }
  
  .proyectos article img {
    width: 100%;
  }
  
  .proyectos article p {
    text-align: center;
  }
  
  footer {
    background-color: #8866ff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    color: #fff;
  }
  